@charset "ISO-8859-1";

/* INICIO BODY */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #edf0f5;
}
/* FIN BODY */

/*INICIO NAV */
.div-nav {
	width: 100%;
}

.navigation-header {
	background: #212529;
	height: 60px;
}

.ul-nav {
	position: relative;
}

.li-login {
	list-style: none; /* quitar el puntico*/
	font-size: 18px;
	font-family: monospace;
	float: right;
	height: 60px;
	line-height: 60px;
	margin-right: 10px;
}

.a-login {
	text-decoration: none; /*quita la raya debaho de las letras por la URL*/
	color: white;
	text-align: center;
	font-size: 10;
}

.div-li-left {
	position: left;
	border-left: 20px;
}

.div-li-left img {
	width: 40px;
	height: 45px;
	margin-top: 5px;
}

.div-li-left li {
	line-height: 60px;
	margin-left: 10px;
	float: left;
	list-style: none;
	font-size: 40px;
}

.div-li-left .li-login .a-login {
	font-size: 20px;
}

.div-li-select {
	width: 100%;
	position: absolute;
	height: 100%;
}

.div-li-select .nav-li-select {
	list-style: none;
	float: right;
	width: 8%;
	line-height: 60px;
	font-size: 18px;
	text-align: center;
}

.div-li-select li:hover a {
	color: gray;
	cursor: pointer;
}

.div-li-select li:hover {
	color: gray;
	cursor: pointer;
}

.div-li-select a {
	text-decoration: none;
	color: white;
}

/* FIN NAV */

/* INICIO LOGIN */

/*margin auto se deja en el centro de todo*/
.section-form {
	width: 400px;
	height: 370px;
	background: white;
	margin: auto;
	margin-top: 180px;
	box-shadow: 1px 0px 20px #000;
	padding: 20px 30px;
	border-radius: 10px;
}

.user-write {
	width: 100%; /* toma el ancho del padre */
	border: 1px solid #000;
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 11px 10px; /*superior e inferior y izquierda y derecha*/
}

.content-form {
	margin-top: 10px;
}

.button {
	width: 100%;
	height: 40px;
	border: none;
	border-radius: 4px;
	border-color: #1877f2;
	background: #1877f2;
	color: white;
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 16px;
}

.section-form p {
	text-align: center;
}

.section-form a {
	text-decoration: none;
}

.section-form a:hover {
	text-decoration: underline;
}

.div-login {
	position: absolute;
	right: 10px;
}

.div-image-login {
	text-align: center;
	margin-top: 5px;
}

.div-image-login img {
	height: 100px;
	width: 100px;
}

.div-login-content {
	background: green;
	height: 400px;
}

.div-li-select li {
	list-style: none;
	float: right;
	width: 8%;
	line-height: 60px;
	font-size: 18px;
	text-align: center;
}

.div-login-content li {
	float: right;
	list-style: none;
	width: 20%;
}

.div-login-content img {
	width: 150px;
	height: 150px;
}
/* FIN LOGIN */

/* INICIO FOOTER */
footer {
	background-color: #212529;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: white;
}

.div-footer {
	float: right;
	text-align: center;
	line-height: 40px;
	margin-right: 30px;
}

.div-footer p {
	
}
/* FIN FOOTER */

/* INICIO DROPDOWN*/
.dropbtn {
	background-color: #212529;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: static;
	background-color: #f9f9f9;
	min-width: 100px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 1px 1px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: gray;
}

/* FIN DE DORPDOWN*/

/* INICIO TABLE */
.table {
	width: 100%;
	margin-bottom: 1rem;
	color: #212529;
}

.table th, .table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

.table tbody+tbody {
	border-top: 2px solid #dee2e6;
}

.table-sm th, .table-sm td {
	padding: 0.3rem;
}

.table-bordered {
	border: 1px solid #dee2e6;
}

.table-bordered th, .table-bordered td {
	border: 1px solid #dee2e6;
}

.table-bordered thead th, .table-bordered thead td {
	border-bottom-width: 2px;
}

.table-borderless th, .table-borderless td, .table-borderless thead th,
	.table-borderless tbody+tbody {
	border: 0;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
	color: #212529;
	background-color: rgba(0, 0, 0, 0.075);
}

.table-primary, .table-primary>th, .table-primary>td {
	background-color: #b8daff;
}

.table-primary th, .table-primary td, .table-primary thead th,
	.table-primary tbody+tbody {
	border-color: #7abaff;
}

.table-hover .table-primary:hover {
	background-color: #9fcdff;
}

.table-hover .table-primary:hover>td, .table-hover .table-primary:hover>th
	{
	background-color: #9fcdff;
}

.table-secondary, .table-secondary>th, .table-secondary>td {
	background-color: #d6d8db;
}

.table-secondary th, .table-secondary td, .table-secondary thead th,
	.table-secondary tbody+tbody {
	border-color: #b3b7bb;
}

.table-hover .table-secondary:hover {
	background-color: #c8cbcf;
}

.table-hover .table-secondary:hover>td, .table-hover .table-secondary:hover>th
	{
	background-color: #c8cbcf;
}

.table-success, .table-success>th, .table-success>td {
	background-color: #c3e6cb;
}

.table-success th, .table-success td, .table-success thead th,
	.table-success tbody+tbody {
	border-color: #8fd19e;
}

.table-hover .table-success:hover {
	background-color: #b1dfbb;
}

.table-hover .table-success:hover>td, .table-hover .table-success:hover>th
	{
	background-color: #b1dfbb;
}

.table-info, .table-info>th, .table-info>td {
	background-color: #bee5eb;
}

.table-info th, .table-info td, .table-info thead th, .table-info tbody+tbody
	{
	border-color: #86cfda;
}

.table-hover .table-info:hover {
	background-color: #abdde5;
}

.table-hover .table-info:hover>td, .table-hover .table-info:hover>th {
	background-color: #abdde5;
}

.table-warning, .table-warning>th, .table-warning>td {
	background-color: #ffeeba;
}

.table-warning th, .table-warning td, .table-warning thead th,
	.table-warning tbody+tbody {
	border-color: #ffdf7e;
}

.table-hover .table-warning:hover {
	background-color: #ffe8a1;
}

.table-hover .table-warning:hover>td, .table-hover .table-warning:hover>th
	{
	background-color: #ffe8a1;
}

.table-danger, .table-danger>th, .table-danger>td {
	background-color: #f5c6cb;
}

.table-danger th, .table-danger td, .table-danger thead th,
	.table-danger tbody+tbody {
	border-color: #ed969e;
}

.table-hover .table-danger:hover {
	background-color: #f1b0b7;
}

.table-hover .table-danger:hover>td, .table-hover .table-danger:hover>th
	{
	background-color: #f1b0b7;
}

.table-light, .table-light>th, .table-light>td {
	background-color: #fdfdfe;
}

.table-light th, .table-light td, .table-light thead th, .table-light tbody+tbody
	{
	border-color: #fbfcfc;
}

.table-hover .table-light:hover {
	background-color: #ececf6;
}

.table-hover .table-light:hover>td, .table-hover .table-light:hover>th {
	background-color: #ececf6;
}

.table-dark, .table-dark>th, .table-dark>td {
	background-color: #c6c8ca;
}

.table-dark th, .table-dark td, .table-dark thead th, .table-dark tbody+tbody
	{
	border-color: #95999c;
}

.table-hover .table-dark:hover {
	background-color: #b9bbbe;
}

.table-hover .table-dark:hover>td, .table-hover .table-dark:hover>th {
	background-color: #b9bbbe;
}

.table-active, .table-active>th, .table-active>td {
	background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
	background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td, .table-hover .table-active:hover>th
	{
	background-color: rgba(0, 0, 0, 0.075);
}

.table .thead-dark th {
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;
}

.table .thead-light th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

.table-dark {
	color: #fff;
	background-color: #343a40;
}

.table-dark th, .table-dark td, .table-dark thead th {
	border-color: #454d55;
}

.table-dark.table-bordered {
	border: 0;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(255, 255, 255, 0.05);
}

.table-dark.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(255, 255, 255, 0.075);
}

@media ( max-width : 575.98px) {
	.table-responsive-sm {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-sm>.table-bordered {
		border: 0;
	}
}

@media ( max-width : 767.98px) {
	.table-responsive-md {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-md>.table-bordered {
		border: 0;
	}
}

@media ( max-width : 991.98px) {
	.table-responsive-lg {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-lg>.table-bordered {
		border: 0;
	}
}

@media ( max-width : 1199.98px) {
	.table-responsive-xl {
		display: block;
		width: 100%;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	.table-responsive-xl>.table-bordered {
		border: 0;
	}
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-responsive>.table-bordered {
	border: 0;
}

.table-responsive {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}

.table-responsive>.table-bordered {
	border: 0;
}

/* FIN TABLE */
.container {
	width: 100%; /* this make container fluid*/
	height: auto;
	margin-right: auto; /* this make content center*/
	margin-left: auto; /* this make content center*/
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 32px;
}

/* INICIO MODAL */
.modal-contenido {
	background-color: gray;
	width: 300px;
	padding: 10px 20px;
	margin: 20% auto;
	position: relative;
}

.modal {
	background-color: rgba(0, 0, 0, .8);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: all 1s;
}

#modalEdicion:target {
	opacity: 1;
	pointer-events: auto;
}

#modalEliminar:target {
	opacity: 1;
	pointer-events: auto;
}
/* FIN MODAL */